In [43]:
import pandas as pd

In [44]:
countries = pd.read_pickle("countries.pkl")
# countries.drop("leageues", axis = 1, inplace = True)
# countries.columns = ["country", "leagues"]

In [45]:
countries = countries.drop_duplicates(subset = "country")
countries

              country                                            leagues
0             England  [Premier League, Championship, League One, Lea...
1         Afghanistan                                                 []
2               Egypt    [Premier League, Egypt Cup, Egyptian Super Cup]
3             Albania  [Kategoria Superiore, Kupa e Shqipërisë, Super...
4             Algeria         [Ligue Professionnelle 1, Coupe d'Algerie]
..                ...                                                ...
188            Cyprus  [First Division, Championship Round CYP, Releg...
190          Scotland  [Premiership, Championship, League One, League...
191             Wales       [Cymru Premier, Welsh PL Championship round]
192  Northern Ireland  [Premiership, Championship, Intermedia, JBE Le...
193          DR Congo                                                 []

[189 rows x 2 columns]

In [46]:
def country_league(row):
    global df
    country = row.country
    if len(row.leagues) >= 1:
        for league in row.leagues:
            df = df.append({"country":country, "league":league}, ignore_index = True)
    else:
        df = df.append({"country":country, "league": ""}, ignore_index = True)

In [47]:
df = pd.DataFrame({"country":[], "league":[]})

In [52]:
countries = countries.apply(country_league, axis = 1)

TypeError: country_league() got an unexpected keyword argument 'axis'

495

In [57]:
df.to_pickle("countries_leagues_Clean.pkl")